@{
    ViewData["Title"] = "Home Page";
}

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(()=>{
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44375/MyHub").build();
            $("#conStatus").text(connection.connectionState);
    })    

    
    </script>




}

<div class=" row">
    <div class="col-md-8 offset-2">
        <input type="text" class=" form-control" id="txtname" />
        <hr />
        <button class="btn btn-warning" id="btnsave">İsmi Kaydet</button>
        <button class="btn btn-success" id="btnroomsave">Odaya Kaydet</button>
        <div class="alert alert-info mt-2">
            <div class="float-left">
                Bağlantı Durumu: <strong id="conStatus"></strong>
                , Client Sayısı: <strong id="clientCount"></strong>
            </div>
        </div>
    </div>
</div>

   @*     52.45*@